.outer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.headline-div {
  position: absolute;
  top: 0vh;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */
}

.button-div {
  position: absolute;
  bottom: 0vh;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
