.nav-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 2vw; */
  padding-top: 8vh;
  width: 100vw;
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 50px;
  min-height: 5vh;
  max-height: 10vh;
}

.logo-div {
  position: absolute;
  left: 4%;
  top: 0%;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo {
  font-family: Tahoma;
  font-size: 25px;
  color: white;
  text-decoration: none;

  text-shadow: -1px -1px 0 #000, /* Left and top shadow */ 1px -1px 0 #000,
    /* Right and top shadow */ -1px 1px 0 #000,
    /* Left and bottom shadow */ 1px 1px 0 #000; /* Right and bottom shadow */
}

.nav-list {
  position: absolute;
  top: 0%;
  height: 100%;
  right: 1.5%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-page {
  font-family: Tahoma;
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 13px;
  transition: background-color 0.3s;

  text-shadow: -1px -1px 0 #000, /* Left and top shadow */ 1px -1px 0 #000,
    /* Right and top shadow */ -1px 1px 0 #000,
    /* Left and bottom shadow */ 1px 1px 0 #000; /* Right and bottom shadow */
}

.nav-page:hover {
  background-color: #000;
  border-radius: 10%;
  transition: background-color 0.7s ease;
}

.resume {
  font-family: Tahoma;
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 13px;
  margin-left: 10px;
  margin-right: 10px;
  border: #000 2px solid;
  border-radius: 15%;
  transition: background-color 0.3s;

  text-shadow: -1px -1px 0 #000, /* Left and top shadow */ 1px -1px 0 #000,
    /* Right and top shadow */ -1px 1px 0 #000,
    /* Left and bottom shadow */ 1px 1px 0 #000; /* Right and bottom shadow */
}

.resume:hover {
  background-color: #000;
  border-radius: 10%;
  transition: background-color 0.7s ease;
}
