.app {
    overflow-y: auto;
}

.top-container {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url("../../Media/Blair-Arch.jpg");
    background-size: cover;
    background-position: center;
}

.tc-writing {
    position: absolute;
    display: flex;
    /* position: relative; */
    bottom: 20%;
    left: 4%;
    animation: fadeIn 1.5s ease-in-out;
}

.hello {
    line-height: 1.6;
    color: white;
    font-weight: bold;
    font-size: 55px;
    text-shadow:
                -2px -2px 0 #000,  /* Left and top shadow */
                 2px -2px 0 #000,  /* Right and top shadow */
                -2px  2px 0 #000,  /* Left and bottom shadow */
                 2px  2px 0 #000;  /* Right and bottom shadow */
}

.about-button-div {
    background-color: white;
    position: absolute;
    bottom: -10vh;
    width: 15vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.about-button-div a {
    font-family: Tahoma;
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.about-button-div:hover {
    background-color: rgba(255, 255, 255, .75);
}


.about-container {
    height: 40vh;
    width: 100%;
    background-color: #E0E0DB;
    display: flex;
    align-content: center;
    justify-items: center;
    
}

.about-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.about-text {
    align-self: center;
    line-height: 1.6;
    color: black;
    font-weight: bold;
    font-size: 28px;
    padding: 100px;
    padding-bottom: 150px;
    
}

.exp-container {
    height: 55vh;
    width: 100%;
    background-color: white;
}

.experience-div-outer {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.pic-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.writing {
    width: 100%;
    display: flex;
    align-items: baseline;
    padding-top: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exp-pic {
    position: absolute;
    top: 7vh;
    height: 40vh;
    width: auto;
    max-width: 100%;
    border: black 5px solid;
}

.exp-title {
    position: absolute;
    display: flex;
    top: 7vh;
    left: 6vw;
    height: 6vh;
}

.exp-subtitle {
    position: absolute;
    display: flex;
    width: 50%;
    top: 14vh;
    left: 6vw;
    height: 10vh;
    color: grey;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.learn-more {
    background-color: #253551;
    position: absolute;
    /* padding-top: 10px; */
    bottom: 9vh;
    width: 25vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more a {
    font-family: Tahoma;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.learn-more:hover {
    background-color: rgba(37, 53, 81,.7);
}

.ec-container {
    height: 55vh;
    width: 100%;
    background-color: white;
}

.ec-div-outer {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.ec-title {
    position: absolute;
    display: flex;
    top: 7vh;
    left: 46vw;
    height: 6vh;
}

.ec-subtitle {
    position: absolute;
    display: flex;
    width: 50%;
    top: 14vh;
    left: 46vw;
    height: 10vh;
    color: grey;
}

.quote-section {
    position: relative;
    height: 55vh;
    width: 100%;
    background-image: url("../../Media/Blair-Arch.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text {
    text-align: center;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 34px;
    padding: 100px;

    text-shadow:
                -2px -2px 0 #000,  /* Left and top shadow */
                 2px -2px 0 #000,  /* Right and top shadow */
                -2px  2px 0 #000,  /* Left and bottom shadow */
                 2px  2px 0 #000;  /* Right and bottom shadow */
}

.contact-container {
    position: relative;
    height: 30vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.get-in-touch {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gt-text {
    position: absolute;
    line-height: 1.6;
    color: black;
    font-weight: normal;
    font-size: 35px;
    padding-bottom: 20vh;
}

.contact-list {
    list-style: none;
    line-height: 2;
}

.contact-info {
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* left: 0vh; */
    padding-left: 5vw;
    padding-bottom: 12vh;
}

.contact {
    color: black;
    text-decoration: none;
}

.contact a {
    font-family: Tahoma;
    font-size: 22px;
    color: black;
    /* text-decoration: none; */
    padding: 10px;
}

.footer-container {
    height: 12vh;
    width: 100%;
    background-color: rgb(32, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
