.nav-background {
    min-height: fit-content;
    height: 12vh;
    background-color: #253551;
}

.exp {
    position: relative;
    height: 210vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-items: center;
}

.rows {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.columns {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    position: absolute;
    top: 5vh;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    position: absolute;
    top: 45vh;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company {
    position: absolute;
    top: 50vh;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    position: absolute;
    top: 55vh;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn {
    position: absolute;
    top: 60vh;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-image {
    height: 100%;
    width: auto;
}
