.bg {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-background {
  min-height: fit-content;
  height: 8vh;
  background-color: #253551;
}

.exp-header {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 1vh;
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-header-h1 {
  font-size: 32px;
}

.exp {
  position: relative;
  height: 210vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
}

.rows {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.columns {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 100;
}

.column {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic {
  position: absolute;
  top: 5vh;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.date {
  position: absolute;
  top: 45vh;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company {
  position: absolute;
  top: 50vh;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  position: absolute;
  top: 55vh;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fi-image {
  height: 100%;
  width: auto;
}

.learn {
  position: absolute;
  top: 60vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  background-color: rgb(37, 53, 81); /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  border: none; /* Removes the default border */
  padding: 10px 20px; /* Adds padding inside the button (vertical, horizontal) */
  border-radius: 15px; /* Rounds the corners of the button */
  font-size: 16px; /* Sets the size of the text */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  text-align: center; /* Ensures text is centered */
  text-decoration: none; /* Removes any underline from text */
  display: inline-block; /* Allows setting padding and margins */
  transition: background-color 0.3s;
}

.link:hover {
  background-color: rgba(37, 53, 81, 0.8);
}
