.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(124, 120, 120, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3.5px);
  z-index: 10000;
  height: 1000vh;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  position: fixed;
  top: 10vh;
  min-height: 80vh;
  left: 10%;
  width: 80%;
  background-color: ghostwhite;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 100000;
  animation: fadeIn 0.5s ease-in-out;
  overflow: auto; /* Add scroll if content overflows */
}
