html,
body {
  background-color: white;
}

.nav-background {
  min-height: fit-content;
  height: 8vh;
  background-color: #253551;
}

.projects-a {
  /* position: relative; */
  height: 45vh;
  background-color: white;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
}

.projects-a-div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 22% 56% 22%;
}

.title-a-div {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  display: grid;
  grid-template-rows: 33% 33% 34%;
}

.title-a {
  width: 100%;
  text-align: center;
  font-size: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-a {
  width: 100%;
  text-align: center;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-div {
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
}

.description {
  padding-top: 3%;
  padding-left: 2%;
}

.img-positioning-a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  height: 100%;
  max-height: 40vh;
}

.image-a {
  height: 80%;
}

.projects-b {
  height: 45vh;
  background-color: #e0e0db;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
}
