html,
body {
  background-color: white;
}

.nav-background {
  min-height: fit-content;
  height: 8vh;
  background-color: #253551;
}

@media (max-height: 780px) {
  .nav-background {
    padding-top: 2vh;
    min-height: fit-content;
    height: 12vh;
    background-color: #253551;
  }
}

.projects-a {
  /* position: relative; */
  min-height: 40vh;
  background-color: white;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
}

.projects-a-div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 40% 35%;
}

.projects-b-div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 40% 25%;
}

@media (min-width: 1300px) {
  .projects-a-div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .projects-b-div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
}

.title-a-div {
  /* top: 20%; */
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  display: grid;
  grid-template-rows: 33% 33% 34%;
}

.title-a {
  padding-top: 2vh;
  width: 100%;
  text-align: center;
  font-size: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-div {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-a {
  background-color: rgb(37, 53, 81); /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  border: none; /* Removes the default border */
  padding: 10px 20px; /* Adds padding inside the button (vertical, horizontal) */
  border-radius: 15px; /* Rounds the corners of the button */
  font-size: 16px; /* Sets the size of the text */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  text-align: center; /* Ensures text is centered */
  text-decoration: none; /* Removes any underline from text */
  display: inline-block; /* Allows setting padding and margins */
  transition: background-color 0.3s;
}

.description-div {
  height: 100%;
  width: 100%;
  display: flex;
  /* padding-top: 2vh; */
  justify-content: center;
  padding-bottom: 2vh;
}

.description {
  padding-top: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
}

.img-positioning-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 40vh;
}

.image-a {
  height: 80%;
}

.projects-b {
  min-height: 40vh;
  background-color: #e0e0db;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
}
