.nav-background {
  min-height: fit-content;
  height: 8vh;
  background-color: #253551;
}

@media (max-height: 780px) {
  .nav-background {
    padding-top: 2vh;
    min-height: fit-content;
    height: 12vh;
    background-color: #253551;
  }
}

.contact-me-container {
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: #e0e0db;
  display: grid;
  grid-template-columns: 60% 40%;
}

.contact-me-card {
  background-color: white;
  position: absolute;
  width: 70%;
  left: 15%;
  height: 80%;
}

.contact-me-h1 {
  font-size: 40px;
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

.name-input-div {
  padding-top: 1vh;
  padding-left: 2vw;
  height: 10vh;
}

.input {
  margin-right: 10vw;
  width: 20vw;

  text-transform: none;
  letter-spacing: 0;
  font-family: "Avenir LT Pro", sans-serif;
  /* font-smoothing: antialiased; */
  -webkit-font-smoothing: antialiased;
  font-size: 16px !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  overflow-x: hidden;
  box-sizing: border-box;

  border-bottom: 2px solid grey; /* Grey underline */
  background-color: transparent; /* Ensures the input has no fill */
  border-top: none; /* Removes the top border */
  border-right: none; /* Removes the right border */
  border-left: none; /* Removes the left border */
}

.input:focus {
  border-bottom: 2px solid grey; /* Grey underline */
  background-color: transparent; /* Ensures the input has no fill */
  border-top: none; /* Removes the top border */
  border-right: none; /* Removes the right border */
  border-left: none; /* Removes the left border */
  outline: none;
}

.email-input-div {
  padding-left: 2vw;
  height: 10vh;
}

.message-div {
  padding-left: 2vw;
  height: 24vh;
  width: 100%;
}

.message {
  width: 90%;
  height: 100%;
  text-transform: none;
  letter-spacing: 0;
  font-family: "Avenir LT Pro", sans-serif;
  /* font-smoothing: antialiased; */
  -webkit-font-smoothing: antialiased;
  font-size: 16px !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 2px;
}

.submit-button-div {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background-color: rgb(37, 53, 81); /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  border: none; /* Removes the default border */
  padding: 10px 20px; /* Adds padding inside the button (vertical, horizontal) */
  border-radius: 15px; /* Rounds the corners of the button */
  font-size: 16px; /* Sets the size of the text */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  text-align: center; /* Ensures text is centered */
  text-decoration: none; /* Removes any underline from text */
  display: inline-block; /* Allows setting padding and margins */
  transition: background-color 0.3s;
}
